<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

<div class="left_blank"></div>

<div class="rcorners">

  <h1 id="edit_contact">Edit Contact</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @address_book %> |
  <%= link_to 'Back', address_books_path %>

</div>

<div class="right_blank"></div>
