<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

<div class="left_blank"></div>

<div class="rcorners">

  <h1 id="new_contact">New Contact</h1>

  <%= render 'form' %>

  <%= link_to 'Back后退', address_books_path %>

</div>

<div class="right_blank"></div>
